@model MVCProject.Models.Model
@{

}

<h1>hello world</h1>
<form method ="post" action = "add">
    Enter y1
    <input type ="number" asp-for="x" />
    Enter y2
    <input type="number" asp-for="y" />
    <input type ="submit" value="add"/>
</form>
<h3>@ViewData["result"]</h3>